code/node-red-demo.txt
[{"id":"ef65bb4f5d4cb453","type":"inject","z":"5e5c5573773e231f","name":"off - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 0, 0, 0, 0","payloadType":"str","x":260,"y":2640,"wires":[["1aab11ca6f9f364a"]]},{"id":"5ef19c82c6e446b5","type":"inject","z":"5e5c5573773e231f","name":"Red - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 20, 0, 0, 0, 0","payloadType":"str","x":270,"y":2680,"wires":[["1aab11ca6f9f364a"]]},{"id":"dada946f36969733","type":"inject","z":"5e5c5573773e231f","name":"Green - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 20, 0, 0, 0","payloadType":"str","x":280,"y":2720,"wires":[["1aab11ca6f9f364a"]]},{"id":"616b16078954b9fc","type":"inject","z":"5e5c5573773e231f","name":"Blue - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 0, 20, 0, 0","payloadType":"str","x":270,"y":2760,"wires":[["1aab11ca6f9f364a"]]},{"id":"be7ddefef2d2e4d2","type":"inject","z":"5e5c5573773e231f","name":"Warm White - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 0, 0, 20, 0","payloadType":"str","x":290,"y":2800,"wires":[["1aab11ca6f9f364a"]]},{"id":"8e3d1fc61f9a4baa","type":"inject","z":"5e5c5573773e231f","name":"Cold White - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 0, 0, 0, 20","payloadType":"str","x":290,"y":2840,"wires":[["1aab11ca6f9f364a"]]},{"id":"48be0b9ef34bac9f","type":"inject","z":"5e5c5573773e231f","name":"Purple - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 10, 0, 10, 0, 0","payloadType":"str","x":280,"y":2880,"wires":[["1aab11ca6f9f364a"]]},{"id":"83899885e6cd8f3b","type":"inject","z":"5e5c5573773e231f","name":"off - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"2, 0, 0","payloadType":"str","x":260,"y":2960,"wires":[["093813a89eeacd41"]]},{"id":"2459f8dda638a648","type":"inject","z":"5e5c5573773e231f","name":"Neutral White - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"2, 10, 10","payloadType":"str","x":300,"y":3080,"wires":[["093813a89eeacd41"]]},{"id":"993ceb86cd891936","type":"inject","z":"5e5c5573773e231f","name":"Warm White - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"2, 20, 0","payloadType":"str","x":290,"y":3000,"wires":[["093813a89eeacd41"]]},{"id":"922c6f0269d71d8f","type":"inject","z":"5e5c5573773e231f","name":"Cold White - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"2, 0, 20","payloadType":"str","x":290,"y":3040,"wires":[["093813a89eeacd41"]]},{"id":"1f28bf8dedfc0d83","type":"inject","z":"5e5c5573773e231f","name":"off - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 0, 0, 0, 0","payloadType":"str","x":540,"y":2640,"wires":[["1aab11ca6f9f364a"]]},{"id":"7d53ff296a200418","type":"inject","z":"5e5c5573773e231f","name":"Red flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 20, 0, 0, 0, 0","payloadType":"str","x":570,"y":2680,"wires":[["1aab11ca6f9f364a"]]},{"id":"f90b5bc0aacc957a","type":"inject","z":"5e5c5573773e231f","name":"Green flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 0, 20, 0, 0, 0","payloadType":"str","x":570,"y":2720,"wires":[["1aab11ca6f9f364a"]]},{"id":"4398a2ec3b627011","type":"inject","z":"5e5c5573773e231f","name":"Blue flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 0, 0, 20, 0, 0","payloadType":"str","x":570,"y":2760,"wires":[["1aab11ca6f9f364a"]]},{"id":"e96f36c94415713e","type":"inject","z":"5e5c5573773e231f","name":"Warm White flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 0, 0, 0, 20, 0","payloadType":"str","x":590,"y":2800,"wires":[["1aab11ca6f9f364a"]]},{"id":"3cb4e63b741291c3","type":"inject","z":"5e5c5573773e231f","name":"Cold White flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 0, 0, 0, 0, 20","payloadType":"str","x":590,"y":2840,"wires":[["1aab11ca6f9f364a"]]},{"id":"e38a3ff3c128d3ca","type":"inject","z":"5e5c5573773e231f","name":"Purple flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 10, 0, 10, 0, 0","payloadType":"str","x":570,"y":2880,"wires":[["1aab11ca6f9f364a"]]},{"id":"d682026d4af3d3fc","type":"inject","z":"5e5c5573773e231f","name":"off - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"2, 0, 0","payloadType":"str","x":540,"y":2960,"wires":[["093813a89eeacd41"]]},{"id":"bb66893035bbb3c0","type":"inject","z":"5e5c5573773e231f","name":"Neutral White flash - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"2, 10, 10","payloadType":"str","x":600,"y":3080,"wires":[["093813a89eeacd41"]]},{"id":"0246170a4b16b121","type":"inject","z":"5e5c5573773e231f","name":"Warm White flash - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"2, 20, 0","payloadType":"str","x":590,"y":3000,"wires":[["093813a89eeacd41"]]},{"id":"ef7d5619910c2d36","type":"inject","z":"5e5c5573773e231f","name":"Cold White flash - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"2, 0, 20","payloadType":"str","x":590,"y":3040,"wires":[["093813a89eeacd41"]]},{"id":"b8371122f25519f9","type":"mqtt in","z":"5e5c5573773e231f","name":"LWT PWM Controller","topic":"LEDcontrol/LWT","qos":"0","datatype":"auto","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":280,"y":2260,"wires":[["6f4f68632b5218f4"]]},{"id":"6f4f68632b5218f4","type":"state-machine","z":"5e5c5573773e231f","name":"PWM Controller status","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["offline","online"],"transitions":[{"name":"1","from":"offline","to":"online"},{"name":"0","from":"online","to":"offline"}],"x":560,"y":2260,"wires":[[]]},{"id":"294276d5bd020498","type":"mqtt in","z":"5e5c5573773e231f","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"e27d6b30.26f748","x":240,"y":2360,"wires":[["c3cee08938cefed1"]]},{"id":"c3cee08938cefed1","type":"debug","z":"5e5c5573773e231f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":2360,"wires":[]},{"id":"ea4298a511741bd5","type":"inject","z":"5e5c5573773e231f","name":"off fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 0, 0, 0, 0, 0","payloadType":"str","x":880,"y":2640,"wires":[["1aab11ca6f9f364a"]]},{"id":"1281b43969135b8f","type":"inject","z":"5e5c5573773e231f","name":"Red fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 200, 0, 0, 0, 0","payloadType":"str","x":880,"y":2680,"wires":[["1aab11ca6f9f364a"]]},{"id":"12250a2f081c943f","type":"inject","z":"5e5c5573773e231f","name":"Green fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 0, 200, 0, 0, 0","payloadType":"str","x":890,"y":2720,"wires":[["1aab11ca6f9f364a"]]},{"id":"22b2a0ec783d8cb0","type":"inject","z":"5e5c5573773e231f","name":"Blue fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 0, 0, 200, 0, 0","payloadType":"str","x":890,"y":2760,"wires":[["1aab11ca6f9f364a"]]},{"id":"bd0400e3898f08f3","type":"inject","z":"5e5c5573773e231f","name":"Warm White fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 0, 0, 0, 200, 0","payloadType":"str","x":910,"y":2800,"wires":[["1aab11ca6f9f364a"]]},{"id":"fa3cf40cb521aeaa","type":"inject","z":"5e5c5573773e231f","name":"Cold White fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 0, 0, 0, 0, 200","payloadType":"str","x":910,"y":2840,"wires":[["1aab11ca6f9f364a"]]},{"id":"96a4b3b56b04c683","type":"inject","z":"5e5c5573773e231f","name":"Purple fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 100, 0, 100, 0, 0","payloadType":"str","x":890,"y":2880,"wires":[["1aab11ca6f9f364a"]]},{"id":"ef55ec6df1adc5f3","type":"inject","z":"5e5c5573773e231f","name":"off fade - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"2, 0, 0","payloadType":"str","x":880,"y":2960,"wires":[["093813a89eeacd41"]]},{"id":"04acab07b0815063","type":"inject","z":"5e5c5573773e231f","name":"Neutral White fade - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"2, 100, 100","payloadType":"str","x":910,"y":3080,"wires":[["093813a89eeacd41"]]},{"id":"b3083d75e2924876","type":"inject","z":"5e5c5573773e231f","name":"Warm White fade - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"2, 200, 0","payloadType":"str","x":910,"y":3000,"wires":[["093813a89eeacd41"]]},{"id":"6b814ae830928637","type":"inject","z":"5e5c5573773e231f","name":"Cold White fade - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"2, 0, 200","payloadType":"str","x":910,"y":3040,"wires":[["093813a89eeacd41"]]},{"id":"e5eb435591416fbf","type":"comment","z":"5e5c5573773e231f","name":"Normal Control","info":"","x":260,"y":2600,"wires":[]},{"id":"865748c003db5bee","type":"comment","z":"5e5c5573773e231f","name":"Flash Function","info":"","x":540,"y":2600,"wires":[]},{"id":"6fc9888dabcaa3d2","type":"comment","z":"5e5c5573773e231f","name":"Fade Function","info":"","x":850,"y":2600,"wires":[]},{"id":"4c1c48d6d5ba9c79","type":"comment","z":"5e5c5573773e231f","name":"Flash Interval","info":"","x":250,"y":2420,"wires":[]},{"id":"baae2bbcac4ec6d3","type":"inject","z":"5e5c5573773e231f","name":"Strip 2 Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/config","payload":"2, 2","payloadType":"str","x":270,"y":2060,"wires":[["e8accb3082fdf571"]]},{"id":"d99a16b423617182","type":"inject","z":"5e5c5573773e231f","name":"Strip 1 Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/config","payload":"1, 5","payloadType":"str","x":270,"y":2020,"wires":[["e8accb3082fdf571"]]},{"id":"df474bb1b6057905","type":"comment","z":"5e5c5573773e231f","name":"Connection Debug","info":"","x":270,"y":2320,"wires":[]},{"id":"29f8af01dd133635","type":"comment","z":"5e5c5573773e231f","name":"LWT + Auto Config","info":"","x":270,"y":2220,"wires":[]},{"id":"02fe6b0b8cb5158b","type":"comment","z":"5e5c5573773e231f","name":"Manual Config","info":"","x":260,"y":1980,"wires":[]},{"id":"b483f426cf1e1f4f","type":"mqtt out","z":"5e5c5573773e231f","name":"MQTT out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":320,"y":2160,"wires":[]},{"id":"0f6201d10c892235","type":"link in","z":"5e5c5573773e231f","name":"mqtt out","links":["093813a89eeacd41","1aab11ca6f9f364a","7050c6c50f7a0e44","e8accb3082fdf571"],"x":195,"y":2160,"wires":[["b483f426cf1e1f4f"]]},{"id":"7050c6c50f7a0e44","type":"link out","z":"5e5c5573773e231f","name":"","links":["0f6201d10c892235"],"x":935,"y":2480,"wires":[]},{"id":"8da419db4298ad98","type":"inject","z":"5e5c5573773e231f","name":"start timer","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":260,"y":2460,"wires":[["2b9148649a9ee955"]]},{"id":"fe161dd1e84261ab","type":"inject","z":"5e5c5573773e231f","name":"stop timer","props":[{"p":"reset","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":2500,"wires":[["2b9148649a9ee955"]]},{"id":"2b9148649a9ee955","type":"trigger","z":"5e5c5573773e231f","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-750","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":2480,"wires":[["c524c95811f86524"]]},{"id":"c524c95811f86524","type":"state-machine","z":"5e5c5573773e231f","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["0","1"],"transitions":[{"name":"1","from":"0","to":"1"},{"name":"1","from":"1","to":"0"}],"x":680,"y":2480,"wires":[["d828e5b14da18d6c"]]},{"id":"d828e5b14da18d6c","type":"change","z":"5e5c5573773e231f","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"flash","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":2480,"wires":[["7050c6c50f7a0e44"]]},{"id":"1aab11ca6f9f364a","type":"link out","z":"5e5c5573773e231f","name":"","links":["0f6201d10c892235"],"x":1175,"y":2760,"wires":[]},{"id":"093813a89eeacd41","type":"link out","z":"5e5c5573773e231f","name":"","links":["0f6201d10c892235"],"x":1175,"y":3040,"wires":[]},{"id":"e8accb3082fdf571","type":"link out","z":"5e5c5573773e231f","name":"","links":["0f6201d10c892235"],"x":495,"y":2040,"wires":[]},{"id":"e324185993704483","type":"comment","z":"5e5c5573773e231f","name":"MQTT Output","info":"","x":250,"y":2120,"wires":[]},{"id":"e27d6b30.26f748","type":"mqtt-broker","name":"","broker":"192.168.0.54","port":"1883","clientid":"test","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
