code/node-red-demo.txt
[{"id":"2d04517d410682f0","type":"inject","z":"5e5c5573773e231f","name":"off - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 0, 0, 0, 0","payloadType":"str","x":120,"y":640,"wires":[["d2c90b1b65a84a1c"]]},{"id":"9604fd5655ec76ed","type":"inject","z":"5e5c5573773e231f","name":"Red - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 20, 0, 0, 0, 0","payloadType":"str","x":130,"y":680,"wires":[["d2c90b1b65a84a1c"]]},{"id":"ab37c311039695dc","type":"inject","z":"5e5c5573773e231f","name":"Green - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 20, 0, 0, 0","payloadType":"str","x":140,"y":720,"wires":[["d2c90b1b65a84a1c"]]},{"id":"9c744ddaf5b5fdfa","type":"inject","z":"5e5c5573773e231f","name":"Blue - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 0, 20, 0, 0","payloadType":"str","x":130,"y":760,"wires":[["d2c90b1b65a84a1c"]]},{"id":"62c5797a78a6f2b6","type":"inject","z":"5e5c5573773e231f","name":"Warm White - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 0, 0, 20, 0","payloadType":"str","x":150,"y":800,"wires":[["d2c90b1b65a84a1c"]]},{"id":"df358cee9c419738","type":"inject","z":"5e5c5573773e231f","name":"Cold White - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 0, 0, 0, 20","payloadType":"str","x":150,"y":840,"wires":[["d2c90b1b65a84a1c"]]},{"id":"e034d74d0354210e","type":"inject","z":"5e5c5573773e231f","name":"Purple - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 10, 0, 10, 0, 0","payloadType":"str","x":140,"y":880,"wires":[["d2c90b1b65a84a1c"]]},{"id":"29ac85cd889122a3","type":"inject","z":"5e5c5573773e231f","name":"off - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"2, 0, 0","payloadType":"str","x":120,"y":960,"wires":[["0c5503cf9178ff69"]]},{"id":"b10bc8e507236a18","type":"inject","z":"5e5c5573773e231f","name":"Neutral White - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"2, 10, 10","payloadType":"str","x":160,"y":1080,"wires":[["0c5503cf9178ff69"]]},{"id":"4cc5bb48ca5325dc","type":"inject","z":"5e5c5573773e231f","name":"Warm White - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"2, 20, 0","payloadType":"str","x":150,"y":1000,"wires":[["0c5503cf9178ff69"]]},{"id":"c78b3882becef529","type":"inject","z":"5e5c5573773e231f","name":"Cold White - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"2, 0, 20","payloadType":"str","x":150,"y":1040,"wires":[["0c5503cf9178ff69"]]},{"id":"d2c90b1b65a84a1c","type":"mqtt out","z":"5e5c5573773e231f","name":"PWM controller","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":1140,"y":740,"wires":[]},{"id":"ff60d2e19ed42c27","type":"inject","z":"5e5c5573773e231f","name":"off - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"1, 0, 0, 0, 0, 0","payloadType":"str","x":400,"y":640,"wires":[["d2c90b1b65a84a1c"]]},{"id":"2932346a731a2d20","type":"inject","z":"5e5c5573773e231f","name":"Red flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 20, 0, 0, 0, 0","payloadType":"str","x":430,"y":680,"wires":[["d2c90b1b65a84a1c"]]},{"id":"d6eb8ebcfa29fea7","type":"inject","z":"5e5c5573773e231f","name":"Green flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 0, 20, 0, 0, 0","payloadType":"str","x":430,"y":720,"wires":[["d2c90b1b65a84a1c"]]},{"id":"126dd530a4478131","type":"inject","z":"5e5c5573773e231f","name":"Blue flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 0, 0, 20, 0, 0","payloadType":"str","x":430,"y":760,"wires":[["d2c90b1b65a84a1c"]]},{"id":"29730b577c5faf29","type":"inject","z":"5e5c5573773e231f","name":"Warm White flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 0, 0, 0, 20, 0","payloadType":"str","x":450,"y":800,"wires":[["d2c90b1b65a84a1c"]]},{"id":"fe7409fe5a042573","type":"inject","z":"5e5c5573773e231f","name":"Cold White flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 0, 0, 0, 0, 20","payloadType":"str","x":450,"y":840,"wires":[["d2c90b1b65a84a1c"]]},{"id":"445469f00738b3bd","type":"inject","z":"5e5c5573773e231f","name":"Purple flash - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"1, 10, 0, 10, 0, 0","payloadType":"str","x":430,"y":880,"wires":[["d2c90b1b65a84a1c"]]},{"id":"0c5503cf9178ff69","type":"mqtt out","z":"5e5c5573773e231f","name":"PWM controller","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":1140,"y":1000,"wires":[]},{"id":"8998bf72d520802c","type":"inject","z":"5e5c5573773e231f","name":"off - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/color","payload":"2, 0, 0","payloadType":"str","x":400,"y":960,"wires":[["0c5503cf9178ff69"]]},{"id":"a89d44a679e1b075","type":"inject","z":"5e5c5573773e231f","name":"Neutral White flash - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"2, 10, 10","payloadType":"str","x":460,"y":1080,"wires":[["0c5503cf9178ff69"]]},{"id":"a154a03d264fe4f7","type":"inject","z":"5e5c5573773e231f","name":"Warm White flash - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"2, 20, 0","payloadType":"str","x":450,"y":1000,"wires":[["0c5503cf9178ff69"]]},{"id":"5156b5b3aa0214a0","type":"inject","z":"5e5c5573773e231f","name":"Cold White flash - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/flash","payload":"2, 0, 20","payloadType":"str","x":450,"y":1040,"wires":[["0c5503cf9178ff69"]]},{"id":"3d85e9a333744c16","type":"mqtt in","z":"5e5c5573773e231f","name":"LWT PWM Controller","topic":"LEDcontrol/LWT","qos":"0","datatype":"auto","broker":"e27d6b30.26f748","nl":false,"rap":false,"x":140,"y":200,"wires":[["883c23dad5340daf"]]},{"id":"883c23dad5340daf","type":"state-machine","z":"5e5c5573773e231f","name":"PWM Controller status","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["offline","online"],"transitions":[{"name":"1","from":"offline","to":"online"},{"name":"0","from":"online","to":"offline"}],"x":420,"y":200,"wires":[["a4a0d0c9459416b9","f5697d1d6ffbe48a"]]},{"id":"8c937f243b22a311","type":"trigger","z":"5e5c5573773e231f","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-750","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":480,"wires":[["0f67396e78169811"]]},{"id":"0f67396e78169811","type":"state-machine","z":"5e5c5573773e231f","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["0","1"],"transitions":[{"name":"1","from":"0","to":"1"},{"name":"1","from":"1","to":"0"}],"x":720,"y":480,"wires":[["9b273e9cc6d08ef3"]]},{"id":"9b273e9cc6d08ef3","type":"mqtt out","z":"5e5c5573773e231f","name":"","topic":"flash","qos":"","retain":"","broker":"e27d6b30.26f748","x":1110,"y":480,"wires":[]},{"id":"2bac5474f2a5a3eb","type":"inject","z":"5e5c5573773e231f","name":"start timer","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":120,"y":460,"wires":[["8c937f243b22a311"]]},{"id":"8d64a8e916d15da9","type":"inject","z":"5e5c5573773e231f","name":"stop timer","props":[{"p":"reset","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":500,"wires":[["8c937f243b22a311"]]},{"id":"790c78510d4d6125","type":"mqtt in","z":"5e5c5573773e231f","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"e27d6b30.26f748","x":100,"y":340,"wires":[["afa288dbb095d10e"]]},{"id":"afa288dbb095d10e","type":"debug","z":"5e5c5573773e231f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":340,"wires":[]},{"id":"0d2974a011125d13","type":"inject","z":"5e5c5573773e231f","name":"off fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 0, 0, 0, 0, 0","payloadType":"str","x":740,"y":640,"wires":[["d2c90b1b65a84a1c"]]},{"id":"23692b45cfce77e0","type":"inject","z":"5e5c5573773e231f","name":"Red fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 200, 0, 0, 0, 0","payloadType":"str","x":740,"y":680,"wires":[["d2c90b1b65a84a1c"]]},{"id":"97a111c03a17c4a1","type":"inject","z":"5e5c5573773e231f","name":"Green fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 0, 200, 0, 0, 0","payloadType":"str","x":750,"y":720,"wires":[["d2c90b1b65a84a1c"]]},{"id":"b17145a9d833438d","type":"inject","z":"5e5c5573773e231f","name":"Blue fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 0, 0, 200, 0, 0","payloadType":"str","x":750,"y":760,"wires":[["d2c90b1b65a84a1c"]]},{"id":"0c3a0d63aeeaf1b2","type":"inject","z":"5e5c5573773e231f","name":"Warm White fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 0, 0, 0, 200, 0","payloadType":"str","x":770,"y":800,"wires":[["d2c90b1b65a84a1c"]]},{"id":"0b09c7faf9fb334a","type":"inject","z":"5e5c5573773e231f","name":"Cold White fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 0, 0, 0, 0, 200","payloadType":"str","x":770,"y":840,"wires":[["d2c90b1b65a84a1c"]]},{"id":"f4569d07d32b142c","type":"inject","z":"5e5c5573773e231f","name":"Purple fade - Strip 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"1, 100, 0, 100, 0, 0","payloadType":"str","x":750,"y":880,"wires":[["d2c90b1b65a84a1c"]]},{"id":"8224dea620bae36c","type":"inject","z":"5e5c5573773e231f","name":"off fade - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"2, 0, 0","payloadType":"str","x":740,"y":960,"wires":[["0c5503cf9178ff69"]]},{"id":"4a6241fa8dd1c6b0","type":"inject","z":"5e5c5573773e231f","name":"Neutral White fade - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"2, 100, 100","payloadType":"str","x":770,"y":1080,"wires":[["0c5503cf9178ff69"]]},{"id":"86e943689cf711af","type":"inject","z":"5e5c5573773e231f","name":"Warm White fade - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"2, 200, 0","payloadType":"str","x":770,"y":1000,"wires":[["0c5503cf9178ff69"]]},{"id":"7851d14d0f5cf83c","type":"inject","z":"5e5c5573773e231f","name":"Cold White fade - Strip 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/fade","payload":"2, 0, 200","payloadType":"str","x":770,"y":1040,"wires":[["0c5503cf9178ff69"]]},{"id":"deedf22ab9340c04","type":"comment","z":"5e5c5573773e231f","name":"Normal Control","info":"","x":120,"y":600,"wires":[]},{"id":"c94a75cc53c55d7a","type":"comment","z":"5e5c5573773e231f","name":"Flash Function","info":"","x":400,"y":600,"wires":[]},{"id":"2a77fdefdfa99544","type":"comment","z":"5e5c5573773e231f","name":"Fade Function","info":"","x":710,"y":600,"wires":[]},{"id":"113d9b66f6a54a8e","type":"comment","z":"5e5c5573773e231f","name":"Flash Interval","info":"","x":110,"y":420,"wires":[]},{"id":"f5697d1d6ffbe48a","type":"trigger","z":"5e5c5573773e231f","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-100","extend":false,"overrideDelay":false,"units":"ms","reset":"offline","bytopic":"all","topic":"topic","outputs":1,"x":740,"y":200,"wires":[["db8369519ae63a5e"]]},{"id":"db8369519ae63a5e","type":"state-machine","z":"5e5c5573773e231f","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":true,"throwException":false,"states":["0","1","2","3","4","5"],"transitions":[{"name":"1","from":"0","to":"1"},{"name":"1","from":"1","to":"2"},{"name":"1","from":"2","to":"3"},{"name":"1","from":"3","to":"4"},{"name":"1","from":"4","to":"5"},{"name":"10","from":"5","to":"0"},{"name":"10","from":"4","to":"0"},{"name":"10","from":"3","to":"0"},{"name":"10","from":"2","to":"0"},{"name":"10","from":"1","to":"0"}],"x":960,"y":260,"wires":[["d9925f1059b1d7a9"]]},{"id":"a4a0d0c9459416b9","type":"state-machine","z":"5e5c5573773e231f","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":false,"outputStateChangeOnly":false,"throwException":false,"states":["0","10"],"transitions":[{"name":"online","from":"10","to":"0"},{"name":"offline","from":"0","to":"10"}],"x":720,"y":260,"wires":[["db8369519ae63a5e"]]},{"id":"d9925f1059b1d7a9","type":"function","z":"5e5c5573773e231f","name":"Config message","func":"\nmsg.topic = \"LEDcontrol/config\";\n\nswitch (msg.payload){\n    case \"1\": {\n        msg.payload = \"1,5\";\n        break;\n        \n    }\n    case \"2\": {\n        msg.payload = \"2,2\";\n        break;\n    }\n    case \"3\": {\n        msg.payload = \"3,2\";\n        break;\n    }\n    case \"4\": {\n        msg.payload = \"4,5\";\n        break;\n    }\n    case \"5\": {\n        msg.payload = \"5,2\";\n        break;\n    }\n    case \"0\": {\n        return;\n    }\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":260,"wires":[["1bc29dbee6a4016a"]]},{"id":"1bc29dbee6a4016a","type":"mqtt out","z":"5e5c5573773e231f","d":true,"name":"PWM controller","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":1340,"y":260,"wires":[]},{"id":"555c693dd94f666e","type":"mqtt out","z":"5e5c5573773e231f","name":"PWM controller","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e27d6b30.26f748","x":1340,"y":120,"wires":[]},{"id":"e82b20f260acacb5","type":"inject","z":"5e5c5573773e231f","name":"Strip 2 Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/config","payload":"2, 2","payloadType":"str","x":1150,"y":80,"wires":[["555c693dd94f666e"]]},{"id":"8a1a7b830a5e1475","type":"inject","z":"5e5c5573773e231f","name":"Strip 1 Config","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LEDcontrol/config","payload":"1, 5","payloadType":"str","x":1150,"y":40,"wires":[["555c693dd94f666e"]]},{"id":"c0bff11e9c2b965c","type":"comment","z":"5e5c5573773e231f","name":"Connection Debug","info":"","x":130,"y":300,"wires":[]},{"id":"d00d0630d16ca0d1","type":"comment","z":"5e5c5573773e231f","name":"LWT + Auto Config","info":"","x":130,"y":160,"wires":[]},{"id":"a4ed6a9232c1726c","type":"comment","z":"5e5c5573773e231f","name":"Manual Config","info":"","x":1330,"y":80,"wires":[]},{"id":"e27d6b30.26f748","type":"mqtt-broker","name":"","broker":"192.168.0.54","port":"1883","clientid":"test","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]